source https://api.nuget.org/v3/index.json

storage: none
framework: netcoreapp3.1, netstandard2.0, netstandard2.1

// On debian 10 to beat ssl error: export CLR_OPENSSL_VERSION_OVERRIDE=1.1
git https://github.com/CraigChamberlain/moon-data.git Packages: /api/
//api/lunar-solar-calendar-detailed/1747/index.json