---
---

.hero, .footer  {
    background-color: black;
    background-image: url({{'/assets/images/background.jpg' | relative_url }});
    background-size: cover;
}
.hero {
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 100%);
}
.hero h1{
    font-family: 'Monoton', cursive;
    font-weight: normal;
}
.footer {
    position: relative;
    clip-path: polygon( 0 30%, 100% 0, 100% 100%, 0 100%);
    color: white;
    padding: 4rem 1.5rem 1rem;
}
.footer a,.footer a:active,.footer a:visited{
    color: white;
    text-decoration: underline;
}
.icons li {
    display: inline;
}